<style>
    #category-link.active {
  background-color: yellow; /* Change the highlight color as desired */

  .selected{

  }
  a {
    text-decoration: none !important;
  }
 
 

  
}

</style>

{{!-- <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css" /> --}}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Category
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    

 {{#each categories}}
  <li><a id="category-link" class="nav-link" href="/category/{{this.name}}"  onclick="highlightCategory(event)">{{this.name}}</a></li>
{{/each}}


  </ul>
  
</div>
{{!-- <div class="cf-left col-md-12">
  <select class="sort" onchange="sortPrice(this.value)">
    <option value="">Sort by</option>
    <option value="1">Low to High</option>
    <option value="-1">High to Low</option>
  </select>
</div> --}}



{{!-- <div class="cf-left col-md-12">
                            <select class="sort" onchange="sortPrice(this.value)">
                                <option value="">Sort by</option>
                                <option value="1">Low to High</option>
                                <option value="-1">High to Low</option>
                            </select>
                        </div> --}}

    <form action="/user/userSearchProduct" method="post">
                        <div style="padding-left: 494px;" class="input-group col-*">
                            <input type="search" name="name" class="form-control form-control-sm" placeholder="Search">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
  </div>
</nav>


{{!-- pagination --}}
<input id="totalCount" hidden value="{{totalPages}}">
<input id="currentPages" hidden value="{{currentPage}}">


<!-- Categories Page Section Begin -->
<section class="categories-page spad">
    <div class="container">
        <div class="categories-controls">
            <div class="row">
               
                <div class="col-lg-3">
                    <div class="categories-filter">
                        {{!-- <div class="col-md-12">
                            <label for="range">Price range:</label>
                            <div class="range-slider">
                                <input type="text" id="range" class="js-range-slider" value="" />
                            </div>
                        </div> --}}

                        <div class="col-md-6">
                            <div class="extra-controls mb-4">
                                <label hidden for="selectMinPrice">Minimum price:</label>
                                <input hidden type="number" class="form-control" id="selectMinPrice" name="minPrice"
                                    value="{{minPrice}}" />

                                <label hidden for="selectMaxPrice">Maximum price:</label>
                                <input hidden type="number" class="form-control" id="selectMaxPrice" name="maxPrice"
                                    value="{{maxPrice}}" />

                                {{!-- <div class="text-center">
                                    <button class="btn btn-dark" onclick="applyFilter()">Apply</button>
                                </div> --}}
                            </div>
                        </div>
                        <div class="cf-left mt-3">
                            {{!-- <select class="sort"> --}}
                                {{!-- <option value="">Sort by</option> --}}
                                {{!-- <a href="" class="btn btn-dark" onclick="sortPrice(1)">Low to High</a>
                                <a href="" class="btn btn-dark" onclick="sortPrice(-1)">High to Low</a> --}}


                        </div>

                    </div>
                </div>
                <div class="main">
                    <!-- Another variation with a button -->
                    {{!-- <form action="/user/userSearchProduct" method="post">
                        <div style="padding-left: 494px;" class="input-group col-*">
                            <input type="search" name="name" class="form-control form-control-sm" placeholder="Search">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form> --}}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {{#if products}}
            {{#each products}}
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="{{this.images.[0]}}" alt="">
                        <div class="p-status">new</div>
                        <div class="hover-icon">
                            <a href="{{this.images.[0]}}" class="pop-up"><img src="img/icons/zoom-plus.png" alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="/product/{{this._id}}">
                            <h5>{{this.name}}</h5>
                            <h6>{{this.category}}</h6>
                            <p>₹{{this.price}}.00</p>
                        </a>
                    </div>
                </div>
            </div>
            {{/each}}
            {{else if product}}
            {{#each product}}
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="{{this.images.[0]}}" alt="">
                        <div class="p-status">new</div>
                        <div class="hover-icon">
                            <a href="{{this.images.[0]}}" class="pop-up"><img src="img/icons/zoom-plus.png" alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="/product/{{this._id}}">
                            <h5>{{this.name}}</h5>
                            <h6>{{this.category}}</h6>
                            <p>₹{{this.price}}.00</p>
                        </a>
                    </div>
                </div>
            </div>
            {{/each}}
            {{else if filteredProducts}}
            {{#each filteredProducts}}
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="{{this.images.[0]}}" alt="">
                        <div class="p-status">new</div>
                        <div class="hover-icon">
                            <a href="{{this.images.[0]}}" class="pop-up"><img src="img/icons/zoom-plus.png" alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="/product/{{this._id}}">
                            <h5>{{this.name}}</h5>
                            <h6>{{this.category}}</h6>
                            <p>₹{{this.price}}.00</p>
                        </a>
                    </div>
                </div>
            </div>
            {{/each}}
            {{else if sortedProducts}}
            {{#each sortedProducts}}

            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="{{this.images.[0]}}" alt="">
                        <div class="p-status">new</div>
                        <div class="hover-icon">
                            <a href="{{this.images.[0]}}" class="pop-up"><img src="img/icons/zoom-plus.png" alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="/product/{{this._id}}">
                            <h5>{{this.name}}</h5>
                            <h6>{{this.category}}</h6>
                            <p>₹{{this.price}}.00</p>
                        </a>
                    </div>
                </div>
            </div>
            {{/each}}
            {{else}}

            <div id="notfound">
                <div class="notfound">
                    <div class="notfound-404">
                        <h1>Oops!</h1>
                        <h2>404 - No Results Found</h2>
                    </div>
                    <a href="/shop">Go TO Shop</a>
                </div>
            </div>
            {{/if}}





        </div>
        <div class="col d-flex justify-content-center pagination text-dark">
        </div>


    </div>
    {{!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script> --}}

</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    const range = document.getElementById('range');
    const selectMinPrice = document.getElementById('selectMinPrice');
    const selectMaxPrice = document.getElementById('selectMaxPrice');

    // initialize range slider
    let instance = null;
    const min = 500;
    const max = 3000;
    const defaultMin = min;
    const defaultMax = max;
    range.value = `${defaultMin},${defaultMax}`;
    instance = $(range).ionRangeSlider({
        skin: "square",
        type: "double",
        min: min,
        max: max,
        from: defaultMin,
        to: defaultMax,
        onStart: updateInputs,
        onChange: updateInputs
    }).data("ionRangeSlider");

    function updateInputs(data) {
        selectMinPrice.value = data.from;
        selectMaxPrice.value = data.to;
    }

    function applyFilter() {
        event.preventDefault();

        console.log(`Selected price range: ${selectMinPrice.value} - ${selectMaxPrice.value}`);

        axios.post('/shopPriceFilter', {
            minPrice: selectMinPrice.value,
            maxPrice: selectMaxPrice.value,
        })
            .then(() => {
                location.href = '/shop';
            })
            .catch(() => {
                console.error('Error applying price filter')
            });
    }

    function sortPrice(value) {
        axios.post('/shopPriceSort', {
            minPrice: selectMinPrice.value,
            maxPrice: selectMaxPrice.value,
            sort: value
        })
            .then(() => {
                location.href = '/shop';
            })
            .catch(() => {
                location.href = '/shop';
            });
    }

</script>




{{!-- Pagination --}}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const totalCountInput = document.getElementById('totalCount');
        const totalCount = Number(totalCountInput.value);

        const currentPageInput = document.getElementById('currentPages');
        const currentPage = Number(currentPageInput.value);
        const totalPages = Math.ceil(totalCount / 8);

        let page = currentPage || 1;
        const paginationElement = document.querySelector('.pagination')

        let pageLinks = '';
        console.log(currentPage);
        console.log(totalPages);
        for (let i = 1; i <= totalPages; i++) {
            pageLinks += `<ul style="list-style-type: none;"><li class="page-item${i === page ? ' active' : ''}"><a class="page-link" style="color: black;" href="?page=${i}">${i}</a></li></ul>`;
        }
        paginationElement.innerHTML = pageLinks;
    });
</script>
<script>
    var activeLink = null; // variable to store the currently active category link

function highlightCategory(event) {
  var clickedLink = event.target;

  // If a category link is already active and it's the same as the clicked link, do nothing
  if (activeLink === clickedLink) {
    return;
  }

  // Remove the active class from the previously active link (if there is one)
  if (activeLink) {
    activeLink.classList.remove('active');
  }

  // Add the active class to the clicked category link
  clickedLink.classList.add('active');
  activeLink = clickedLink;
}
<script>
  function highlightLink(event) {
    // Remove active class from previously clicked link
    const activeLink = document.querySelector('.nav-link.active');
    if (activeLink) {
      activeLink.classList.remove('active');
    }

    // Add active class to the clicked link
    event.target.classList.add('active');
  }
</script>


</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
